<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-button routerLink="/produtos" expand="block">
      <ion-icon slot="start" name="cart"></ion-icon>
      Produtos
    </ion-button>
    <ion-button routerLink="/produtos" expand="block" color="secondary">
      <ion-icon slot="start" name="star"></ion-icon>
      Placeholder
    </ion-button>
    <ion-button routerLink="/produtos" expand="block" color="tertiary">
      <ion-icon slot="start" name="star"></ion-icon>
      Placeholder
    </ion-button>
    <ion-button routerLink="/produtos" expand="block" color="warning"> 
      <ion-icon slot="start" name="star"></ion-icon>
      Placeholder
    </ion-button>
</ion-content>
